.adminNewsCard{
    display: flex;
    gap: .5rem;
    padding: 1rem;
    @include boxShadow;

    @include respond(bp-1024){
        flex-direction: column;
    }

    &:not(:last-child){
        margin-bottom: 1rem;
        @include respond(bp-1024){
            margin: 0;
        }
    }
    
    & > *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
        flex-basis: 20%;
        overflow: hidden;
        text-overflow: ellipsis;

        @include respond(bp-1024){
            flex-basis: content;
        }
    }
    & > *:not(:last-child){
        border-right: 1px solid black;
        @include respond(bp-1024){
            flex-direction: row;
            justify-content: start;
            border: none;
            margin-bottom: .5rem;
            font-size: 1.2rem;
        }
    }
    & > div > p:first-child{
        font-weight: 700;
    }
    & > div > p:not(:first-child){
        color: $color-light-grey;
    }
    & > div:last-child{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(bp-1024){
            margin-top: auto;
        }
    }
    & > div > button{
        display: block;
        margin: 0 auto;
    }
    & > div > button:not(:first-child){
        margin-top: .3rem;
    }
}