#adminNewsCard{
    display: flex;
    gap: .5rem;
    padding: 1rem;
    @include boxShadow;

    &:not(:last-child){
        margin-bottom: 1rem;
    }
    
    & > *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1rem;
        flex-basis: 20%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & > *:not(:last-child){
        border-right: 1px solid black;
    }
    & > div > p:first-child{
        font-weight: 700;
    }
    & > div > p:not(:first-child){
        color: $color-light-grey;
    }
    & > div:last-child{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    & > div > button{
        display: block;
        margin: 0 auto;
    }
    & > div > button:not(:first-child){
        margin-top: .3rem;
    }
}