.btn{
    min-width: 8rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
}

.btnEdit{ 
    background-color: $color-skyblue-btn; 
    @include respond(bp-1024){
        width: 100%;
    }
}
.btnDelete{ 
    background-color: $color-red-btn; 
    @include respond(bp-1024){
        width: 100%;
    }
}
.btnCreate{ 
    background-color: $color-green-btn; 
    @include respond(bp-1024){
        // width: 50%;
    }
}
.btnLoadMore{
    padding: 1rem;
    width: 100%;
}

.btnSubmit{
    background-color: $color-yellow;
    color: $color-violet;
}

.btnGoToRegister{
    background-color: transparent;
    color: $color-yellow;

    &:hover{
        text-decoration: underline;
    }
}