#createNews {
  & > h2 {
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  & > .formBox {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    @include respond(bp-768){
      display: block;
    }

    & > * {
      margin-bottom: 1rem;
      width: 49%;
      @include respond(bp-768){
        width: 100%;
      }

      & > input,
      textarea {
        width: 100%;
        @include inputBox;
      }
      & > textarea {
        height: 15rem;
      }
    }
    & > .text, .tags{
      width: 100%;
    }

  }
}
