#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    color: $color-yellow;
    background-color: $color-violet;
    font-size: 1rem;

    @include respond(bp-1024){
        align-items: flex-start;
        padding: 1.5rem;
        justify-content: end;
    }

    & > a{
        text-decoration: none;
        color: $color-yellow;

        @include respond(bp-1024){
            display: none;
        }
    }
    & > .navLogged{
        display: flex;
        @include respond(bp-1024){
            display: none;
        }

        & > a, & > p{
            text-decoration: none;
            color: $color-yellow;
            cursor: pointer;
        }
    
        & > *:not(:last-child){
            margin-right: 2rem;
        }
    }

    & > .auth{
        display: inherit;
        list-style: none;
        @include respond(bp-1024){
            display: none;
        }

        & > li{
            cursor: pointer;
        }

        & > li:not(:last-child){
        margin-right: 1rem;
       }
    }

    & > img{
        display: none;
        width: 2rem;
        cursor: pointer;

        @include respond(bp-1024){
            display: block;
        }
    }
}

.headerFullsize{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}