.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    color: $color-yellow;
    background-color: $color-violet;
    font-size: 1rem;

    @include respond(bp-1024){
        padding: 1rem;
    }

    & > a{
        text-decoration: none;
        color: $color-yellow;
    }
}

.header__menu{
    flex-direction: column;

    & > a{
        display: none;
    }
}