.newsCard{
    @include boxShadow;
    cursor: pointer;

    & > img{
        width: 100%;
    }

    & > h2{
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }

    @include respond(bp-768){
        margin-bottom: 1rem;
    }
}