*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
}

main{
    padding: 1rem 10rem;
    color: $color-dark-grey;

    @include respond(bp-1350){
        padding: 1rem;
    }
}