$color-violet: #8d02ff;
$color-yellow: #ffc402;
$color-dark-grey: #464646;
$color-light-grey: #808080;
$color-very-light-grey: #b0b0b0;
$color-red-btn: #ff6347;
$color-skyblue-btn: #87ceeb;
$color-green-btn: #71c96e;
$color-violet-ddwn: #b569f3;